* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.cell {
    position: relative;
    width: 25%;
    height: 0;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
    align-content: center;
    background-color: beige;
}

#timer {
    width: 100%;
    font-family: 'Source Code Pro', monospace;
    font-size: 35pt;
    color: gainsboro;
}

#letters {
    width: 100%;
    justify-content: space-around;
    align-content: space-around;
    font-family: 'Source Code Pro', monospace;
    font-size: 30pt;
}

#playground {
    width: 50%;
}

#scores {
    width: 50%;
    flex-direction: column;
    align-content: center;
}

.result {
    margin-inline-end: 5px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: 'Source Code Pro', monospace;
    font-size: 25pt;
}

.score {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Source Code Pro', monospace;
    font-size: 20;
}

.success {
    color: limegreen;
}

.pending {
    color: skyblue;
}

.failure {
    color: indianred;
}

.network-failure {
    color: lightgray;
    text-decoration: line-through;
}

.canvas {
    min-width: 240px;
    max-width: 800px;
    padding-top: 2%;
}
