.main-block {
    font-size: 1em;
    background-color: beige;
    width: 100%;
    margin: 2pt;
    padding: 10pt;
}

.main-link {
    color: darkolivegreen;
    text-decoration: none;
    margin: 2px;
}

.main-link:hover {
    color: olive;
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;
    padding: 10pt;
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: olive;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

h3 {
    margin-bottom: 5pt;
}

ul {
    padding-left: 25pt;
}

.collapsible-content .content-inner {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;

    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

