.vbox-nowrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.hbox-nowrap {
    display: flex;
    align-content: flex-start;
    justify-content: center;
}

.hbox-wrap {
    display: flex;
    flex-wrap: wrap;
}

.hbox-wrap-space {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

