@use 'layouts';
@use 'animations';
@use 'description';
@use 'buttons';
html {
    height: 100%;
    width: 100%;
}

body {
    height: inherit;
    width: inherit;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro';
}

.highlighted {
    filter: sepia(132%) saturate(200%) hue-rotate(20deg) brightness(90%);
}

.canvas {
    width: 100%;
    height: auto;
}

#controls {
    height: 48px;
    align-items: center;
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: 2px;
}

#timer {
    font-size: 48px;
    color: gainsboro;
}

.post-controls {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
    height: calc(100% - 52px);
}

#playground {
    width: 50%;
    flex: 1 1 50%;
}

#scores {
    flex: 1 1 50%;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: unset;
    overflow: auto;
}

#scores > * {
    flex: 0 0 auto;
}

#letters {
    width: 65px * 4;
    height: 65px * 4;
    flex: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-content: unset;
}

#word {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 44px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.result {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5em;
}

.cell {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    align-content: center;
    align-items: center;
    background-color: beige;
    font-size: 2em;
}

.score {
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.success {
    color: black;
    filter: invert(35%) sepia(39%) saturate(588%) hue-rotate(40deg) brightness(96%) contrast(86%);
}

.success::before {
    content: "\2713";
}

.pending-score {
    color: black;
    filter: invert(35%) sepia(64%) saturate(788%) hue-rotate(194deg) brightness(95%) contrast(94%);
    font-size: 1.2em;
}

.pending-result {
    color: black;
    display: flex;
    flex-direction: row-reverse;
}

[class*="pending-"]::before {
    content: "\25CC";
    animation: spinning 2s linear infinite;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
}

.pending-result::before {
  padding-bottom: 5px;
  font-size: 1.5em;
}

.failure {
    color: black;
    filter: invert(40%) sepia(81%) saturate(405%) hue-rotate(311deg) brightness(97%) contrast(93%);
}

.failure::before {
    content: "\2717";
}

.network-failure {
    color: black;
    text-decoration: line-through;
    filter: invert(87%) sepia(0%) saturate(2%) hue-rotate(49deg) brightness(103%) contrast(92%);
}

.network-failure::before {
    content: "\26A0";
}

input[type="text"] {
    font-size: 1.2em;
    width: 208px;
    height: 38px;
    padding-right: 38px;
    padding-left: 10px;
    border-radius: 20px;
    display: block;
}

// Settings overlay styles
#settings-panel {
    position: absolute;
    top: 52px;
    width: 240px;
    height: 240px;
    padding: 10px;
    left: calc(25% - 130px);
    align-items: center;
}

#network-issues-disclaimer {
    position: absolute;
    top: 52px;
    width: 240px;
    height: 240px;
    padding: 10px;
    left: calc(25% - 130px);
    align-items: center;
}

.blurry-bg {
    background-color: white;
    opacity: 0.9;
}

@supports ((backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px))) {
    .blurry-bg {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: unset;
        opacity: unset;
    }
}

.disclaimer {
    color: black;
    text-align: center;
}

@media screen and (orientation: portrait) and (max-width: 700px) {
    .post-controls {
        flex-flow: column-reverse nowrap;
    }

    #playground {
        width: 100%;
        flex-flow: column-reverse nowrap;
    }

    #scores {
        width: 100%;
        flex: 0 0 calc(100% - 65px*4 - 20px - 1.5em);
        flex-direction: column-reverse;
    }

    #letters {
        margin-bottom: 10px;
    }

    #settings-panel {
        top: unset;
        bottom: 10px;
        left: calc(50% - 130px);
    }

    #network-issues-disclaimer {
        top: unset;
        bottom: 10px;
        left: calc(50% - 130px);
    }
}

@media screen and (min-width: 800px) {
    body {
        max-width: 800px;
        position: absolute;
        left: calc(50% - 400px);
    }
}

.hidden {
    display: none;
}

